aiohttp==3.7.3
aiohttp-jinja2==1.4.2
astroid==2.4.2
async-timeout==3.0.1
asyncurban==0.3.3
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
cairocffi==1.2.0
CairoSVG==2.5.0
certifi==2018.4.16
cffi==1.14.4
chardet==3.0.4
click==7.1.2
clipboard==0.0.4
coffeehouse==2.2.2
colorama==0.4.3
cryptg==0.2.post2
cssselect2==0.4.1
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
future-fstrings==1.2.0
geojson==2.5.0
gitdb==4.0.5
GitPython==3.1.11
gTTS==2.2.1
hachoir==3.1.1
heroku3==4.2.3
idna==2.7
ipython-genutils==0.2.0
isort==5.5.3
jedi==0.17.2
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lottie==0.6.5+src
lxml==4.5.2
lyricsgenius==2.0.2
MarkupSafe==1.1.1
mccabe==0.6.1
meval==2.5
multidict==5.0.2
numpy==1.19.5
parse==1.19.0
parso==0.7.1
pickleshare==0.7.5
Pillow==8.0.1
prompt-toolkit==3.0.8
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
pyfiglet==0.8.post1
pygame==2.0.0
Pygments==2.7.2
pylint==2.6.0
PyOpenGL==3.1.5
pyowm==3.1.1
pyperclip==1.8.1
pyqiwi==0.2.0
PySocks==1.7.1
pyTelegramBotAPI==3.7.6
python-dateutil==2.8.1
pythondialog==3.5.1
pytz==2020.4
pyyandextranslateapi==1.2
QIWIAPI==5.0
qiwipy==2.1.6
requests==2.19.1
rsa==4.6
search-engine-parser==0.6.2
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
speedtest-cli==2.1.2
Telethon==1.17.5
timedelta==2020.12.3
tinycss2==1.1.0
toml==0.10.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.23
uuid==1.30
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
yarl==1.6.3
zope.interface==5.2.0
